{% extends "layout.html" %}
{% block content %}

<div class="topnav">
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Rekisteröinti</a>
    <a href="/new">Uusi keskustelu</a>
</div>

<h2> Etusivu </h2>
Keskusteluiden määrä: {{ count }}
<hr>
{% for message in messages %}
<i>Viesti:</i> {{ message[0] }}
<p>
<i>Lähettäjä:</i> {{ message[1] }}
<p>
<i>Aika:</i> {{ message[2].strftime("%Y-%m-%d %H:%M:%S") }}
<hr>
<p>
{% endfor %}


{% if session.username %}
<p>Olet kirjautunut sisään</p>
<p>
<p>
<div class="footer">
    <a href="/logout">Kirjaudu ulos</a>
    <a href="/new_review">Lähetä palautetta</a>
    <br>
</div>
{% else %}
<div class="footer">
</div>
{% endif %}

{% endblock %}