{% extends "layout.html" %}
{% block content %}

{% if session.username %}
<div class="topnav">
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Rekisteröinti</a>
    <a href="/new">Uusi keskustelu</a>
</div>
{% else %}
<div class="topnav">
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Rekisteröinti</a>
</div>
{% endif %}

<h2> Etusivu </h2>
Keskusteluiden määrä: {{ count }}
<hr>
{% for message in messages %}
<h2>{{ message[1] }} </h2> 
<p>
<h3>{{ message[2] }} </h3> 
<p>
<i>Lähettäjä:</i> {{ message[5] }}
<p>
<i>Aika:</i> {{ message[3].strftime("%Y-%m-%d %H:%M:%S") }}
<p>
<button><a href="/message/{{ message['id'] }}">Mene keskusteluun</a></button>
<p>
{% if session.role == 2 %}
<p>
<form action="/delete_message" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="hidden" name="message_id" value="{{ message[0] }}">
    <input type="submit" value="Poista keskustelu">
</form>
</p>
{% endif %}
<hr>
<p>
{% endfor %}


{% if session.username %}
<p>Olet kirjautunut sisään</p>
<p>
<p>
<div class="footer">
    <a href="/logout">Kirjaudu ulos</a>
    <a href="/new_review">Lähetä palautetta</a>
    <br>
</div>
{% else %}
<div class="footer">
</div>
{% endif %}

{% endblock %}